qa-bot[theme="follow"] {
  /* --qabot-color-shadow: var(--md-color-shadow); */
  --qabot-color-background: var(--md-default-bg-color);
  --qabot-color-padding: var(--md-code-bg-color);

  --qabot-color-primary: var(--md-typeset-color);
  --qabot-color-action: var(--md-primary-fg-color);
  --qabot-color-action-contrast: var(--md-code-bg-color);
  --qabot-color-muted: var(--md-default-fg-color--light);
  --qabot-color-dimmed: var(--md-code-bg-color);

  --qabot-color-card-header-background: var(--md-primary-fg-color);
}
qa-bot:not(:defined) {
  display: none;
}

qa-bot {
  font-size: 0.8rem;
}

footer {
  z-index: -1;
}
